  
  $font-size-footer:24px;
  
  
  div {
      border: 1px solid red;

      h1 {
          text-align: center;
          text-decoration: underline blue;
          color: green;
      }

      section {
          display: flex;
          justify-content: center;
          margin: 10px;
         
          
          
      }




     
      


      

      }
      @mixin transform ($color,$border,$font-size){
        color:$color;
        border: $border;
        font-size: $font-size;
      }


      article {
        @include transform(red,1px solid green, 1em);
          
          width: 100%;

          

          

          p { 
              padding: 10px;
              text-align: center;
              
              
              
          }

          #footer {
              
            color: green;
            font-size: $font-size-footer;
          }
          
          }

          #foot{
           
            border: 1px solid blue;
            
          }
          .blue{ color: blue;

          }
          
      
    
       