$footer-font-size: 24px;

@mixin article-card($color, $border-color, $font-size) {
  color: $color;
  border: $border-color;
  font-size: $font-size;
}

body {
  border: 1px solid red;
  display: flex;
  justify-content: center;

  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    width: 100%;

    h1 {
      color: green;
      border-bottom: 1px solid blue;
    }

    section {
      padding: 1rem;
      width: 100%;

      display: flex;
      text-align: center;

      article {
        @include article-card(red, 1px solid green, 1rem);

        p {
          padding: 1.5rem;
        }
      }

      article:nth-child(odd) {
        color: blue;
      }
      #footer {
        color: green;
        border: 1px solid blue;
        font-size: 24px;
        width: 100%;
      }
    }
  }
}
